<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="page object model">
    <test name="page object model">
        <classes>
            <class name="LoginTests"></class>
            <class name="BuyProductTest"></class>
        </classes>
    </test>
</suite>